html, body {
    padding: 0;
    margin: 0;
}
:root {
    --progreesbar-bg: lightgray;
    --start: red;
    --middle: blue;
    --finish: green;
}
.container {
    width: 80%;
    margin: 10em auto;
}
.progress-bar {
    height: 1.5em;
    border-radius: 20px;
    background: var(--progreesbar-bg);
}
.progress-status {
    width: 10%;
    background: var(--start);
    animation: 6s linear showprogress infinite;
}
@keyframes showprogress {
    50% {
        width: 50%;
        background: var(--middle);
    }
    75% {
        width: 75%;
        background: var(--finish);
    }
    100% {
        width: 100%;
        background: var(--finish);
    }
}