:root {
    --color-light: #591d76;
    --color-dark: #932885;
}
html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #e9692c, #ed8756, #f2a580, #f6c3ab, #fbe1d5);
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 1.5em;
    width: 1.5em;
    background: #000;
    margin: .5em;
    border-radius: 50%;
    animation: pulse infinite alternate 1s;
}
@keyframes pulse {
    from {
        background: var(--color-dark);

    }
    to {
        background: var(--color-light);
        height: 1.6em;
        width: 1.6em;
    }
}